button, a.button, input[type=button], input[type=submit]{
    @include button();
    @include hand-cursor();
    text-decoration: none;
    font-weight: normal;
    font-weight: 1rem;
    line-height: normal;
    letter-spacing: normal;

    &:hover, &:focus{
        @include button-focus();
        
    }
    &:active{
        @include button-active();
    }
    &:disabled, &.disabled{
        @include button-disabled();
        
    }
}