@mixin micro-clearfix(){
  &:before,
  &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }

  &:after {
      clear: both;
  }
}
@mixin font-icon(){
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

@mixin normal-text(){
    color:$text_color;
    font-size:1rem;
    line-height: normal;
}
@mixin small-text(){
    color:$text_color;
    font-size:1rem;
    line-height: normal;
}
@mixin large-text(){
    font-size: 1.5rem;
    line-height: normal
}
@mixin inverted-text(){
    background-color:$text_color;
    color:#fff;
}
@mixin container(){
  padding: 0.5em 1em;
  border: 1px solid $text_color;
  background: transparent;
  @include normal-text(); 
  @include border-radius(0);
}
@mixin focused-container(){
  border-color: $focused_color;
  outline: none;
  @include box-shadow(none);
}
@mixin button(){
  @include container(); 
}
@mixin button-disabled(){
    
    cursor: default;
    border-color:$light_grey;
    background-color: $light_grey;
    color:$text_color;
}
@mixin button-focus(){
    background-color:$text_color;
    color:$light_grey;

    
    outline:0;
}
@mixin button-active(){
    @include inverted-text();
}
@mixin text-input(){
    @include normal-text();

    padding: 0.5em 0.75em;
    background: transparent;
    border: 1px solid $text_color;
    
    &:focus{
      @include focused-container();
        
    }
}

@mixin tag(){
  @include container();
  @include small-text();
  @include border-radius(0);

  padding: 0.2em 0.25em 0.3em 0.5em;
  border-right:0px;
}
@mixin tag-delete(){
  @include small-text();
  background: transparent;
  border: 1px solid $text_color;
  padding: 0.2em 0.5em 0.3em 0.25em;
  border-left:0px;
}
@mixin hand-cursor(){
    cursor: pointer;
    cursor: hand;
}
@mixin default-transition(){
  transition:all 200ms ease-out;
}